body {
  width: 90%;
  background-color: #FFCC99;
  font-family: Georgia, serif;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Diplomata SC', cursive;
}

#logo {
  margin-top: 10px;
  width: 50%;
  text-align: center;
  margin: auto;
  position: relative;
}

#logo h1 {
  position: absolute;
  top: 75px;
  font-weight: bold;
  color: #EEE;
  font-size: 2.4vw;
}

#logo p {
  position: absolute;
  top: 130px;
  font-weight: bold;
  color: #EEE;
  font-size: 1.5vw;
}

li {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

.content {
  background-color: #E8CE93;
  border: solid 1px black;
  display: inline-block;
}

#spacer {
  width: 10;
}
